div.rota-info{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px
}

texto1{
    color: bisque;
    font-size: 18px;
    font-weight: 900;
}

texto2{
    color: bisque;
    font-size: 14px;
    font-weight: 300;
}